nz-header
  position: absolute
  width: 100%
  background: #ffffff
  height: 60px

ul
  background-size: contain
  background-color: #ffffff

li
  background-color: #ffffff
  background-size: contain
  height: 60px
  color: #000000


.logo
  width: 120px
  //margin: 8px 8px 8px 8px
  float: left
  height: 60px
  background-size: contain
  background-repeat: no-repeat
  background-image: url("src/assets/img/logo2.png")
  background-position: center





