<nz-layout class="layout">
 <app-header></app-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['']" routerLinkActive="active-link">Inicio</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/product']" routerLinkActive="active-link">Productos</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/service']" routerLinkActive="active-link">Servicios</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/contact']" routerLinkActive="active-link">Contacto</a></nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>

