<nz-layout>
  
<img src="assets/img/fotouno.png">

<h1>
  nuestras frutas
</h1>

<p>
  Son dulces, sabrosas, tienen pocas calorías y prácticamente nada de grasas saturadas,

  Consigue ese equilibrio de una vida saludable, aumenta la cantidad y la variedad de los
  alimentos que ingieres, la fruta fresca debe ser básico en tu dieta diaria, pues su aporte
  de nutrientes, vitaminas y minerales es esencial para el correcto funcionamiento de nuestro
  organismo.

</p>
<strong>
  ¡Cuidas de tu cuerpo mientras disfrutas su sabor!

</strong>
</nz-layout>
