<h2>
  ¿Quieres conocer todos los beneficios que proporciona la fruta orgánica?
</h2>

<p>
  Las frutas orgánicas son aquellas que se producen mediante procesos fijados según normas reconocidas entre las que se encuentra evitar el uso de fertilizantes químicos, pesticidas, herbicidas, hormonas, elementos transgénicos y una amplia cantidad de métodos que pueden dañar el medio ambiente.
  contribuye con la protección del planeta al disminuir la cantidad de químicos nocivos en el ambiente
  contienen mayor cantidad de antioxidantes y polifenoles cuya función en el cuerpo es combatir los radicales libres que afectan directamente a las células.
  permanece más tiempo en estado óptimo para su consumo debido a que se respeta el tiempo de crecimiento y desarrollo de las plantas.
</p>


<nz-divider nzOrientation="center" nzText="Conoce Nuestros Productos"></nz-divider>

<div class="row">
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtro">
    </div>
  </div>
</div>
<br>
<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="6" *ngFor="let item of verduras |filter:filtro  |paginate: { itemsPerPage: 12, currentPage: p }"><div class="inner-box"></div>

    <nz-card nzHoverable  [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="{{item.nombre}} - kilo ${{item.precio}}" nzDescription="{{item.descripcion}}"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img src="{{item.imagen}}"/>
    </ng-template>
  </div>
</div>
<br>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
